body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}
  
p{
    font-size: 1.em;
    
}

#aside{
    background-color: green;
    margin:0px;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    height: 8vh;
    text-align: center;
    box-shadow: 10px 10px 15px 5px black;
    width: 35%;
    border-radius: 4%;
    text-shadow: 
    1px 1px 0px black,  /*Bottom-right shadow*/
    -1px 1px 0px black,  /*Bottom-left shadow*/
    1px -1px 0px black,  /*Top-right shadow*/
    -1px -1px 0px black,  /*Top-left shadow*/
}   

ul{
    margin: 0px;
}

body > header {
    background-color: green;
    color: rgb(88, 88, 99);
    display: flex; 
    height: 18vh;
    align-items: center;
    justify-content: space-around;
    }

#nav-ul {
    display: flex;
}

#nav-ul  > li {
    padding: 8px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
  color: white;  
  text-decoration: none;
  padding: 12px;
  border: 1px solid white;
  border-radius: 7.5%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content{
    display: flex;
    justify-content: space-around;
}

.transfers{
    display: flex;
}
.ins{
    height: auto;
    width:auto;

}

.outs {
   height:auto;
   width:auto;
   
}




#main-content > div{
    width: 70%;
}


form {
    text-align: center;
}

h2 {
text-align: center;
}

body > footer {
    background-color: green;
}



#footer-ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-left: 12px;
    align-items: center;
    color: white
}


#footer-ul > div > li > a{
    text-decoration: none;
    color: white;
    padding : 0px;
    margin-left: 0px;
    
    align-items: center;
}
